

.inputSearchContainer * {
  transition: all 0.2s ease;
}

.inputSearch {
  width: 100%;
  height: 100%;
  background-color: #25272E;
  border: none;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  color: #B7B7B7;
  padding: 0px 12px;
  outline: none;
}

.inputSearchIcon {
  color: #959696;
  font-size: 1.5em;
}

.inputSearchIconContainer {
  background-color: #25272E;
}

.inputSearchContainer:hover .inputSearch {
  background-color: #2e3038;
}

.inputSearchContainer:hover .inputSearchIconContainer {
  background-color: #2e3038;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}