server {
    listen                  8080;
    server_name             api-gateway;
    access_log              /var/log/nginx/api.access.log main;

    charset                 utf-8;


    location /api/graphql/ {
        # GRAPHQL_SERVER is http://shartube-graphql-gateway:2100
        proxy_pass          http://shartube-graphql-gateway:2100/graphql; 
    }

    location /api/user {
        # USER_SERVER is http://shartube-user-server:8080/public
        add_header Access-Control-Allow-Origin *;
        proxy_pass          http://shartube-user-server:8080/public;
    }

    location /api/meme/ {
        # MEME_SERVER is http://shartube-meme-server:8080 
        add_header Access-Control-Allow-Origin *;
        proxy_pass http://shartube-meme-server:8080/;
    }

    location /save {
        # CDN_SERVER ( save path ) is http://shartube-upload-server:3000/save 
        add_header Access-Control-Allow-Origin *;
        proxy_pass http://shartube-upload-server:3000/save;
    }
    location /cdn/image/ {
        add_header Access-Control-Allow-Origin *;
        proxy_pass http://shartube-upload-server:3000/get_image/;
    }
}